{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<title>Baggage Ecommerce | Home</title>
<style>
    .menu {
        font-size: larger;
    }

    .collections {
        color: black;
        font-family: "Hind", sans-serif;
        text-align: center;
    }
</style>
{% endblock head %} {% block body %}
<!-- delivery info -->
<div class="container my-4 delivery-info text-center">
    <br />
    <div class="row">
        <div class="col">
            <h5 class="text-uppercase mb-3">fast and free delivery</h5>
            <p class="text-secondary text-capitalize">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit esse
                fugit molestias reprehenderit sit optio laudantium quas maiores dolor
                quam.
            </p>
        </div>
        <div class="col">
            <h5 class="text-uppercase mb-3">safe and secure payments</h5>
            <p class="text-secondary text-capitalize">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit esse
                fugit molestias reprehenderit sit optio laudantium quas maiores dolor
                quam.
            </p>
        </div>
        <div class="col">
            <h5 class="text-uppercase mb-3">100% money back gaurantee</h5>
            <p class="text-secondary text-capitalize">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit esse
                fugit molestias reprehenderit sit optio laudantium quas maiores dolor
                quam.
            </p>
        </div>
    </div>
    <br />
</div>

<!-- some banner -->
<div class="my-5 s-banner">
    <div class="row">
        <div class="col-8">
            <img src="media/images/banner1.jpg" />
        </div>
        <div class="col-4 text-center">
            <h5 class="text-uppercase">travel must haves</h5>
            <p class="text-secondary my-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
                dignissimos animi voluptates odit, quam porro similique labore doloribus
                distinctio nostrum.
            </p>
            <button class="text-uppercase btn btn-danger" onclick="location.href='/collections/1/None'">
                Shop now
            </button>
        </div>
    </div>
</div>

<!-- saftey -->
<div class="container-sm text-center saftey my-5">
    <h2 class="text-center text-uppercase mb-5" style="color: #333">
        saftey meets style
    </h2>
    <div class="row">
        <div class="col">
            <img style="margin-left: 5.5vw" src="media/images/c1.jpg" />
        </div>
        <div class="col cent">
            <h5 class="text-uppercase">travel must haves</h5>
            <p class="text-secondary my-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
                dignissimos animi voluptates odit, quam porro similique labore doloribus
                distinctio nostrum.
            </p>
            <a href="{% url 'Collection' page=1 page_position=None%}" class="text-uppercase btn btn-danger">Shop now</a>
        </div>
        <div class="col"><img src="media/images/c2.jpg" /></div>
    </div>
</div>

<!-- offer -->
<div class="offer">
    <div class="row">
        <div class="col banner1">
            <h3 class="text-uppercase text-light fw-normal">
                50% Off Any <br />Women's Bags
            </h3>
            <a href="{% url 'Collection' page=1 page_position=None%}" class="btn btn-danger text-uppercase btn-1 mt-3 px-4 py-2">shop now</a>
        </div>
        <div class="col banner2">
            <h3 class="text-uppercase text-light fw-normal">
                78% Off Any <br />Men's Bags
            </h3>
            <a href="{% url 'Collection' page=1 page_position=None%}" class="btn btn-danger text-uppercase btn-2 mt-3 px-4 py-2">shop now</a>
        </div>
    </div>
</div>

<!-- trending -->
<div class="container my-5 trending">
    <div class="row">
        <div class="col-lg-4 text-center" style="margin-top: 10vh">
            <h3 class="text-uppercase fw-bold mb-4">treanding now</h3>
            <p class="text-secondary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
                voluptate cupiditate! Aut excepturi repellendus expedita architecto sed.
            </p>
            <a class="text-uppercase btn btn-danger px-4 py-2 mt-2" href="{% url 'Collection' page=1 page_position=None%}">shop now</a>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <img src="/media/images/g1.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
                <div class="col-md-4">
                    <img src="/media/images/g2.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
                <div class="col-md-4">
                    <img src="/media/images/g3.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
                <div class="col-md-4">
                    <img src="/media/images/g4.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
                <div class="col-md-4">
                    <img src="/media/images/g5.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
                <div class="col-md-4">
                    <img src="/media/images/g6.jpg" data-bs-toggle="modal" data-bs-target="#bagModal"
                        class="img-fluid mt-4 img-gallary" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bagModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="/media/images/ab1.jpg" class="m-4" id="modalImage" />
        </div>
    </div>
</div>

<!-- subscription -->
<div class="subscription py-5">
    <p class="text-center mb-4">
        Subscribe to the Handbags Store mailing list to receive updates on new
        arrivals, special offers and other discount information.
    </p>
    <div class="text-center">
        <input type="text" placeholder="Enter Your Email..." class="me-3" />
        <button class="btn">SUBSCRIBE</button>
    </div>
</div>
{% endblock body %}